fastapi
uvicorn
jinja2
python-dotenv
google-genai
markdown
pillow
python-multipart
tavily-python
geopy
matplotlib
numpy
plotly
kaleido
openai
xhtml2pdf
authlib
itsdangerous
httpx
pandas
e2b_code_interpreter